# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# JSON files
[*.json]
indent_style = tab

# YAML files
[{*.yml,*.yaml}]
indent_size = 2

# phpstan.neon
[*.neon]
indent_style = tab

# Markdown files
[*.md]
indent_style = unset
indent_size = unset
trim_trailing_whitespace = unset
insert_final_newline = unset

# Ignore paths
[/.ddev/**]
charset = unset
end_of_line = unset
insert_final_newline = unset
trim_trailing_whitespace = unset
indent_style = unset
indent_size = unset
