<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<tr>
    <td>
        <f:if condition="{item.log.uid}">
            <f:then>
                <be:link.editRecord uid="{item.log.uid}"
                                    table="{item.log.tablename}"
                                    title="{item.details}"
                                    returnUrl="{be:moduleLink(route: 'dashboard')}">
                    <core:iconForRecord table="{item.log.tablename}" row="{item.log}"/>
                    <strong>{f:if(condition: item.title, then: '{item.title -> f:format.raw()}', else: '[{f:translate(key:
                        \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}</strong>
                </be:link.editRecord>
            </f:then>
            <f:else>
                <core:iconForRecord table="{item.log.tablename}" row="{item.log}"/>
                <strong>{f:if(condition: item.title, then: '{item.title -> f:format.raw()}', else: '[{f:translate(key:
                    \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}</strong>
            </f:else>
        </f:if>
    </td>
    <td>
        <f:if condition="{item.log.pageTitle} && {item.log.pageId}">
            <a href="{be:moduleLink(route: 'web_layout', arguments: '{id: item.log.pageId}')}"
               target="_blank"
               title="">
                <core:iconForRecord table="pages" row="{item.log}"/>
                {item.log.pageTitle}
            </a>
        </f:if>
    </td>
    <td>
        <core:iconForRecord table="{item.log.tablename}" row="{item.log}"/>
        {item.type}
    </td>
    <td>
        <f:format.date format="d.m.Y H:i">{item.log.updated}</f:format.date>
    </td>
    <td class="x--recent-updates-widget--user" style="display: flex;gap: 10px;">
        <backend:avatar backendUser="{item.log.userId}" size="20"/>
        {item.log.username}
    </td>
</tr>

</html>
