<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<tr>
    <td>
        <f:variable name="name"
                    value="{f:if(condition: header, then: header, else: title)}"></f:variable>
        <be:link.editRecord uid="{recuid}"
                            table="{tablename}"
                            title="{f:translate(key: 'widgets.listOfRecords.edit.title', extensionName: 'customDashboardWidgets', arguments: {0: title, 1: recuid})}"
                            returnUrl="{be:moduleLink(route: 'dashboard')}">
            <core:iconForRecord table="{tablename}" row="{_all}"/>
            <strong>{f:if(condition: name, then: name, else: '[{f:translate(key:
                \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}</strong>
        </be:link.editRecord>
    </td>
    <td>
        <f:if condition="{pid} && {page} && {tablename} != 'pages'">
            <a href="{be:moduleLink(route: 'web_layout', arguments: '{id: pid}')}"
               target="_blank"
               title="">
                <core:iconForRecord table="pages" row="{_all}"/>
                {page}
            </a>
        </f:if>
    </td>
    <td>
        <core:iconForRecord table="{tablename}" row="{_all}"/>
        <f:if condition="{tablename} != 'tt_content' || {CType} == ''">
            <f:then>
                {tablename}
            </f:then>
            <f:else>
                <f:if condition="{CType} == 'list'">
                    <f:then>
                        {list_type}
                    </f:then>
                    <f:else>
                        {CType}
                    </f:else>
                </f:if>
            </f:else>
        </f:if>
    </td>
    <td>
        <f:format.date format="d.m.Y H.i">{tstamp}</f:format.date>
    </td>
    <td class="x--recent-updates-widget--user" style="display: flex;gap: 10px;">
        <backend:avatar backendUser="{userid}" size="20"/>
        {username}
    </td>
</tr>

</html>
