<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:backend="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      xmlns:be="http://typo3.org/ns/TYPO3/CMS/Backend/ViewHelpers"
      data-namespace-typo3-fluid="true">

<tr>
    <td>
        <be:link.editRecord uid="{uid}"
                            table="{table}"
                            title="{details}"
                            returnUrl="{be:moduleLink(route: 'dashboard')}">
            <core:iconForRecord table="{table}" row="{_all}"/>
            <strong>{f:if(condition: title, then: '{title -> f:format.raw()}', else: '[{f:translate(key:
                \'LLL:EXT:core/Resources/Private/Language/locallang_core.xlf:labels.no_title\')}]')}</strong>
        </be:link.editRecord>
    </td>
    <td>
        <f:if condition="{pageTitle} && {pageId}">
            <a href="{be:moduleLink(route: 'web_layout', arguments: '{id: pageId}')}"
               target="_blank"
               title="">
                <core:iconForRecord table="pages" row="{_all}"/>
                {pageTitle}
            </a>
        </f:if>
    </td>
    <td>
        <core:iconForRecord table="{table}" row="{_all}"/>
        {type}
    </td>
    <td>
        <f:format.date format="d.m.Y H:i">{updated}</f:format.date>
    </td>
    <td class="x--recent-updates-widget--user" style="display: flex;gap: 10px;">
        <backend:avatar backendUser="{userId}" size="20"/>
        {userName}
    </td>
</tr>

</html>
