<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:dashboard="http://typo3.org/ns/TYPO3/CMS/Dashboard/ViewHelpers"
      xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers"
      data-namespace-typo3-fluid="true">

<div class="widget-content-title d-flex" style="gap:10px;">
    <core:icon identifier="recent-updates-widget" size="small"/>
    <span><f:translate key="widgets.recentUpdates.title" extensionName="XimaTypo3RecentUpdatesWidget"/></span>
</div>
<div class="widget-content-main x--recent-updates-widget--main" style="--mask: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0, rgba(0, 0, 0, 1) 90%, rgba(0, 0, 0, 0) 95%, rgba(0, 0, 0, 0) 0) 100% 90% / 100% 100% repeat-x;-webkit-mask: var(--mask);mask: var(--mask);">
    <f:if condition="{records}">
        <f:then>
            <div class="widget-table-wrapper">
                <table class="widget-table">
                    <thead>
                    <tr>
                        <th><f:translate key="widgets.recentUpdates.content" extensionName="XimaTypo3RecentUpdatesWidget"/></th>
                        <th><f:translate key="widgets.recentUpdates.page" extensionName="XimaTypo3RecentUpdatesWidget"/></th>
                        <th><f:translate key="widgets.recentUpdates.type" extensionName="XimaTypo3RecentUpdatesWidget"/></th>
                        <th><f:translate key="widgets.recentUpdates.updated" extensionName="XimaTypo3RecentUpdatesWidget"/></th>
                        <th><f:translate key="widgets.recentUpdates.user" extensionName="XimaTypo3RecentUpdatesWidget"/></th>
                    </tr>
                    </thead>
                    <tbody>
                    <f:for each="{records}" as="record">
                        <f:render partial="Item" arguments="{item: record}"/>
                    </f:for>
                    </tbody>
                </table>
            </div>
        </f:then>
        <f:else>
            <div class="row widget-no-items-found">
                <div class="col-xs-12">
                    <p>
                        <f:translate key="widgets.recentUpdates.empty" extensionName="XimaTypo3RecentUpdatesWidget"/>
                    </p>
                </div>
            </div>
        </f:else>
    </f:if>
</div>

<div class="widget-content-footer">
    <f:if condition="{button}">
        <dashboard:widget.button button="{button}" class="widget-cta">{f:translate(id: button.title, default: button.title)}</dashboard:widget.button>
    </f:if>
</div>

</html>
